#!/bin/bash

{% for bucket_mount in bucket_mounts %}
sudo chmod -R 777 /home/jupyter/
sudo su - jupyter -c "mkdir -p {{ bucket_mount["local_path"] }}"
sudo su - jupyter -c "gcsfuse --implicit-dirs {{ bucket_mount["bucket_name"] }} {{ bucket_mount["local_path"] }}"
{% endfor %}

{% if tensorboard_resource_name is not none %}
export AIP_TENSORBOARD_LOG_DIR={{ tensorboard_resource_name }}
{% endif %}